<main class="main max-w-6xl mx-auto p-4">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">Pokémons</h1>
    <p class="text-center"><strong>{{pokemonsDetail.length}}</strong> pokémons dans votre pokédex</p>
    <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        @for(pokemon of pokemonsDetail; track pokemon){
            <div class="p-4 border rounded-lg shadow-md bg-white">
                <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" class="w-auto h-auto">
                <h2 class="text-xl font-bold text-gray-800">{{ pokemon.name }}</h2>
                <p class="text-gray-600"><strong>Taille:</strong> {{ pokemon.height/10 }}<span>m</span></p>
                <p class="text-gray-600"><strong>Poids:</strong> {{ pokemon.weight/10 }}<span>kg</span></p>
            </div>
        }
    </div>
</main>
